textarea.note_input {
    resize: none;
    border: none;
}

.note_input_bullet {
    float: inline-start;
    padding-right: 1em;
}

.list_indent {
    border: 5px 5px brown;
}

.test {
    padding-left: 20px;
}